/* 
 * Custom CSS Style Sheet 
 * Developer: David Gunner (Jnr)
 * Created Date: 20/12/2017
 */

html {
    font-size: 0.85rem;
}

body {
    background-color: #cdcece;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 10px auto;
}

img {
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 5px auto;
}

.navbar img {
    margin: 0 auto;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.card-footer {
    text-align: center;
}

/************************* Custom Styling *************************/ 
#profile-img-container {
    margin: 0 auto;
    text-align: center;
}

#about {
    margin: 0 auto;
    text-align: justify;
}

#profile-img {
    width: 200px;
    height: 200px;
    border: solid 1px #111;
    border-radius: 50%;
}